.element__button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url('../../../images/like.svg');
  background-size: 20px 18px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 20px;
  height: 18px;
}

.element__button:hover {
    cursor: pointer;
    opacity: .6;
}
