.popup-container__button-save_inactive{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    opacity: 0.2;    
}

.popup-container__button-save_inactive:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: default;
    opacity: 0.2;
}