.profile__edit{
    background: url(../../../images/avatarEdit.svg);
    position: absolute;
    top: 35px;
    left: 47px;
    border: 0;    
    z-index: 2;
    width: 26px;
    height: 26px;
    cursor: pointer;
    opacity: 0;
}
