@import url(./_inactive/popup-container__button_inactive.css);

.popup-container__button{
    width: 358px;
    height: 50px;
    border: 0;
    margin: 28px auto 0;
    cursor: pointer;
    background-color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.popup-container__button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 535px) {
    .popup-container__button {
        width: 90%;
    }
}