@import url(./__logo/header__logo.css);

.header {
  max-width: 882px;
  margin: 0 auto 36px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-top: 41px;
}
@media screen and (max-width: 1023px)  {
  .header {
    padding-top: 24px;
  }
}
