@import url(./__error/popup__error.css);
@import url(./__error/popup__error_active.css);
@import url(./__user-info/popup__user-info.css);

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);


  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: .2s opacity, .2s visibility ease-out;

}

