.profile__avatar-pics{
    position: relative;
    align-self: center;
}

.profile__avatar-pics:hover .profile__edit{
    opacity: 1;
}

.profile__avatar-pics:hover .profile__avatar{
    opacity: 0.4;
}